<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title><%= app_title %></title>
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/boot.css">
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/fonts/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/style.css" media="all"/>
<link rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/navbar-fixed-top.css" media="all"/>
